@import 'tailwindcss';

@layer base {
  :root {
    --color-bg: #f0f0f0;
    --color-fg: #1f1f1f;
    --color-primary: #d65a31;
    --color-surface: #ffffff;
    --color-accent: #555555;

    color-scheme: light dark;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: #161616;
      --color-fg: #e5e5e5;
      --color-primary: #d65a31;
      --color-surface: #1f1f1f;
      --color-accent: #777777;
    }
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter_VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter_Italic_VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-fg);
}
