@import 'tailwindcss';

@layer base {
  :root {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --color-primary: #2563eb;
    --color-error: #dc2626;
    color-scheme: light dark;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: #000000;
      --color-fg: #ffffff;
    }
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter_VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter_Italic_VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
}
