services:
  api:
    image: dev-dashboard-api:latest
    build:
      context: ../../
      dockerfile: packages/api/Dockerfile
    container_name: dev-dashboard-api
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:latest
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data: {}
